* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Alice", serif;
  color: #573A37;
}

body {
  /* Imagem de fundo da página */
  background-image: url(assets/bg.jpg);
  /* Faz a imagem se adaptar ao tamanho da janela */
  background-size: cover;
}

#page {
  /* Largura do container */ 
  width: 800px;
  /*Box Sizing para não somar os dois valores (800px + 48px)*/
  box-sizing: border-box;
  /* Preenchimento Interno do Container */
  padding: 24px;
  /* Cor de fundo do Container */
  background-color: #F0E8C2;
  /* Bordinha em curva do Container */
  border-radius: 24px;
  /* Espaço entre o Container e o Body da página */
  margin: 48px auto 28px;
}

#main-image {
  /* Bordinha em curva da imagem do container */
  border-radius: 16px;
}

main {
  margin: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  
}

ul {
  padding-left: 26px;
}


h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

footer {
  text-align: center;
  color: #F0E8C2;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
}